<div class="register-container">
  <div class="register-background"></div>
  <div class="register-overlay"></div>
  <div class="register-form-wrapper">
    <div class="register-card">
      <h1 class="register-title">Forgot Password</h1>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">

        <p>Enter code sent on register email</p>

        <!-- Password -->
        <app-input
          id="OTP"
          type="number"
          label=""
          [control]="OTPControl"
        ></app-input>

        <!-- Submit -->
        <button type="submit" class="register-button" (click)="NavigateToCreatePassword()">Submit</button>
      </form>
    </div>
  </div>
</div>
