<div class="register-container">
  <div class="register-background"></div>
  <div class="register-overlay"></div>
  <div class="register-form-wrapper">
    <div class="register-card">
      <h1 class="register-title">Forgot Password</h1>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">

        <p>Enter your Registered Email Address</p>

        <app-input
          id="email"
          type="email"
          label=""
          [control]="emailControl"></app-input>

        <!-- Submit -->
        <button type="submit" class="register-button">Submit</button>
        <div [hidden]="!message" class="message">{{ message }}</div>
        <div [hidden]="!error" class="error">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
