<div class="forgot-password-container">
  <div class="forgot-password-background"></div>
  <div class="forgot-password-overlay"></div>
  <div class="forgot-password-form-wrapper">
    <div class="forgot-password-card">
      <h1 class="forgot-password-title">Forgot Password</h1>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">

        <p>Enter your Registered Email Address</p>

        <app-input
          id="email"
          type="email"
          label=""
          [control]="emailControl"></app-input>

        <!-- Submit -->
        <button type="submit" class="forgot-password-button">Submit</button>
        <div [hidden]="!message" class="message">{{ message }}</div>
        <div [hidden]="!error" class="error">{{ error }}</div>

        <div class="navigation-controls" (click)="navigateToLogin()">
          <span class="secondary-text">Back to Login</span>
        </div>
      </form>
    </div>
  </div>
</div>
