<div class="tilesbody">
    <div class="innertiles">
        <div class="tilescontainer imagecontainer">
            <img src="../../../assets/images/characters/1.png" alt="">
        </div>
        <div class="tilescontainer textcontainer">
            <div class="tilestitle">
                <h2 class="tilesName">Druid</h2>
            </div>
            <div class="desc">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                </div>
        </div>
        <div class="tilescontainer deletecontainer">
            <img src="../../../assets/images/deleteIcon.svg" alt="">
        </div>
    </div>
</div>