.bodyclass, :root{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background: url("../../../assets/images/homepageBackground.svg")no-repeat center;
    background-size: cover;
    display: flex;
}
.innerbox12{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 20vh;
}
.commonInner{
    /* width: 30%; */
    height: 100%;
    margin: 1rem;
}
.team{
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.5; */
    height: 100%;
    border: 1px solid white;
    width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle{
    width: 20%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.versus{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.versus img{
    height: 100px;
    width: 100px;
}
.v-div{
    font-size: 15vh;
    color: transparent;
    background: linear-gradient(180deg, #1585B8 52.4%, #093B52 99.52%);
    background-clip: text;
    -webkit-text-stroke: 3px #000;
    margin: 0;
}
.s-div{
    font-size: 15vh;
    color: transparent;
    background: linear-gradient(180deg, rgba(229, 4, 4, 0.8) 27.88%, #8A0D0D 96.15%);
    
    background-clip: text;
    -webkit-text-stroke: 3px #000;
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 50%;
}
.startButton{
    /* min-width: 270px; */
    width: 80%;
    height: 80px;
    background: #57db2a;
    border: 10px double #000000;
    border-radius: 16px;
    color: white;
    /* font-size: 1.25rem; */
    font-weight: bold;
    -webkit-text-stroke: #000 0.2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 1rem auto;
    display: block;
    opacity: 0.6;
}
.startButton:hover{
    transform: scale(1.05);
    background: #57db2a;
}
.startButton h1{
    margin: 0;
    padding: 0;
    font-size: 38px;
}
.teambox{
    width: 50%;
    font-size: 20px;
    background: #5D3E2C;
    border: 1px solid #EE680B;

    /* font-family: Gasoek One; */
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;

    color: #EE680B;

    border-radius: 10px;
    padding:10px;
    opacity: 1.5;
}
.cardsContainer {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardsInner{
    width: 80%;
    height: 100%;
}
.addButton{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.addButton button{
    width: 40px;
    margin: 10px;
    cursor: pointer;
}