<div class="bodyclass">
    <div class="innerbox12">
        <div class="team1 commonInner team">
            <div class="teambox">
                Team 1
            </div>
            <div class="cardsContainer">
                <div class="cardsInner">
                    <tiles/>
                    <tiles/>
                </div>
            </div>
            <div class="addButton">
                <button>
                    <img src="../../../assets/images/add_circle.svg" alt="">
                </button>
            </div>
        </div>
        <div class="middle commonInner">
            <div class="versus">
                <!-- <img src="../../../assets/images/Group 25.svg" alt=""> -->
                 <div class="v-div">
                     <h1><span class="v-letter">V</span></h1>
                </div>
                <div class="s-div">
                    <h1><span class="s-letter">S</span></h1>
                </div>
            </div>
            <div class="start">
                <button class="startButton">
                    <h1>Start</h1>
                </button>
            </div>
        </div>
        <div class="team2 commonInner team">
            <div class="teambox">
                Team 2
            </div>
            <div class="cardsContainer">
                <div class="cardsInner">
                    <tiles/>
                    <tiles/>
                </div>
            </div>
            <div class="addButton">
                <button>
                    <img src="../../../assets/images/add_circle.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div> 