<div class="bodyclass">
    <div class="innerbox12">
        <div class="team1 commonInner team">
            <div class="teambox">
                Team 1
            </div>
            <div class="cardsContainer">
                <div class="cardsInner">

                    <tiles/>
                    <tiles/>
                </div>
            </div>
        </div>
        <div class="middle commonInner">
            <div class="versus">
                <img src="../../../assets/images/Group 25.svg" alt="">
            </div>
            <div class="start">
                <button class="startButton">
                    Start
                </button>
            </div>
        </div>
        <div class="team2 commonInner team">
            <div class="teambox">
                Team 2
            </div>
            <div class="cardsContainer">
                <div class="cardsInner">
                    <tiles/>
                    <tiles/>
                </div>
            </div>
        </div>
    </div>
</div> 