<div class="game-container-87">
    <div class="settings-icon-45">
        <setting/>
    </div>
    <div class="character-display-09">
        <div class="left-character-section-32">
            <div class="left-top-character-78">
                <img class="character-image-91" src="../../../assets/images/characters_main 3.svg" alt="runewar" style="height: 15vh;">
            </div>
            <div class="left-bottom-characters-65">
                <img class="character-image-91" src="../../../assets/images/characters 2.svg" alt="runewar" style="height: 30vh;">
                <img class="character-image-91" src="../../../assets/images/characters_main 2.svg" alt="runewar" style="height: 26vh;">
            </div>
        </div>
        <div class="center-content-50">
            <div class="main-image-center-21">
                <div class="rune-title-section-10">
                    <span class="rune-text-image-05 Rune-styled-text-11">Rune</span>
                    <span class="rune-text-image-05 Wars-styled-text-22">Wars</span>
                </div>
                <div class="play-button-container-33">
                    <button class="start-game-button-44" (click)="startPlay()" >
                     <h1 style="font-size: 40px;">Play</h1>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-character-section-67">
            <div class="right-top-character-89">
                <img class="character-image-91" src="../../../assets/images/characters_main_right  2.svg" alt="runewar">
            </div>
            <div class="right-bottom-characters-76">
                <img class="character-image-91" src="../../../assets/images/characters_main_right  3.svg" alt="runewar">
                <img class="character-image-91" src="../../../assets/images/characters_main_right  4.svg" alt="runewar">
            </div>
        </div>
    </div>
</div>