<div class="bodyclass">
    <div class="setting">
        <setting/>
    </div>
    <div class="image">
        <div class="leftchar">
            <div class="leftUp">
                <img class="runewarImg" src="../../../assets/images/characters_main 3.svg" alt="runewar" style="height: 15vh;">
            </div>
            <div class="leftDown">
                <img class="runewarImg" src="../../../assets/images/characters 2.svg" alt="runewar" style="height: 30vh;">
                <img class="runewarImg" src="../../../assets/images/characters_main 2.svg" alt="runewar" style="height: 26vh;">
            </div>
        </div>
        <div class="centerImg">
            <div class="imageCenter">
                <div class="runeimg">
                    <img class="runewarImg1" src="../../../assets/images/runewar.svg" alt="runewar">
                </div>
                <div class="playButton">
                    <button (click)="startPlay()" >
                    <img class="runewarImg1" src="../../../assets/images/Frame 4.svg" alt="Play" class="playImg">
                    </button>
                </div>
            </div>
        </div>
        <div class="rightchar">
            <div class="rightUp">
                <img class="runewarImg" src="../../../assets/images/characters_main_right  2.svg" alt="runewar">
            </div>
            <div class="rightDown">
                <img class="runewarImg" src="../../../assets/images/characters_main_right  3.svg" alt="runewar">
                <img class="runewarImg" src="../../../assets/images/characters_main_right  4.svg" alt="runewar">
            </div>
        </div>
    </div>
   
</div>
