<body>
    <div class="how-container">
      <div class="content-wrapper">
        <h1>RuneWars: How to Play</h1>
  
        <section class="info-card">
          <div class="card-content">
            <h2>The Battlefield Awaits!</h2>
            <p>RuneWars is a strategic turn-based RPG where two teams clash. Characters act in sequence, determined by their speed. Lead your team to victory by outmaneuvering your opponents!</p>
            <p>Characters will have turn order on basis of their speed stats.</p>
          </div>
          <div class="card-image">
            <img src="../../../../assets/images/howToPlay/BattleOverview.png" alt="Battlefield Overview">
            <img src="../../../../assets/images/howToPlay/TurnOrder.png" alt="">
            <p class="image-caption">Witness the Turn Order and Team Setup.</p>
          </div>
        </section>
  
        <section class="info-card reverse-order">
          <div class="card-image">
            <img src="../../../../assets/images/howToPlay/Skill Points.png" alt="Skill Points UI">
            <p class="image-caption">Manage your Team's Shared Skill Points.</p>
          </div>
          <div class="card-content">
            <h2>Master Your Skills & Skill Points</h2>
            <ul>
              <li>
                <p><strong>Skill Points (SP):</strong> A shared team resource, capped at 5.</p>
              </li>
              <li>
                <p><strong>Basic Attack (ATK):</strong> Deals damage, and earns your team <strong>+1 SP</strong>.</p>
              </li>
              <li>
                <p><strong>Skill:</strong> Unique ability, consumes <strong>-1 SP</strong></p>
              </li>
              <li>
                <p><strong>Note:</strong> If SP is 0, characters must use a basic attack to gain SP before using a skill.</p>
              </li>
            </ul>
          </div>
        </section>
  
        <section class="info-card">
          <div class="card-content">
            <h2>Understanding Character Status</h2>
            <p>Keep an eye on these visual cues during battle:</p>
            <ul>
              <li>
                <p><span class="highlight-yellow">Yellow Border:</span> This indicates the character currently selected by the player.</p>
              </li>
              <li>
                <p><span class="highlight-red">Red Border:</span> This highlights the enemy character that is targeted for an attack.</p>
              </li>
              <li>
                <p><span class="highlight-blue">Blue Border:</span> Shows the Sheild is active on the characters.</p>
              </li>
              <li>
                <p><span class="highlight-green">Green Bar:</span> Shows the character's current Health Points (HP).</p>
              </li>
            </ul>
          </div>
          <div class="card-image">
            <img src="../../../../assets/images/howToPlay/RedBorder.png" alt="Character Selection & Target">
            <img src="../../../../assets/images/howToPlay/YellowBorder.png" alt="Character Selection & Target">
            <img src="../../../../assets/images/howToPlay/Blue Border.png" alt="">
            <p class="image-caption">Visual cues for selected, targeted, and health.</p>
          </div>
        </section>
  
        <section class="info-card reverse-order">
          <div class="card-image">
            <img src="../../../../assets/images/howToPlay/infoOfCharacter.png" alt="Character Stats">
            <p class="image-caption">View detailed stats during character selection.</p>
          </div>
          <div class="card-content">
            <h2>Characters Stats</h2>
            <p>Each character possesses unique stats (Health, Attack, Speed, Defense) and belongs to specialized classes:</p>
            <ul>
                <li>
                    <p><span class="stat-icon attack-icon" style="color: #ff9800;"><mat-icon>gavel</mat-icon></span> Attack Stat</p>
                  </li>
                  <li>
                    <p><span class="stat-icon health-icon" style="color: #ff5252;"><mat-icon>favorite</mat-icon></span> Health Stat</p>
                  </li>
                  <li>
                    <p><span class="stat-icon defense-icon" style="color: #4fc3f7;"><mat-icon>shield</mat-icon></span> Defecnce Stat</p>
                  </li>
                  <li>
                    <p><span class="stat-icon speed-icon" style="color: #ffd740;"><mat-icon>bolt</mat-icon></span> Speed Stat</p>
                  </li>
            </ul>
          </div>
        </section>
  
        <section class="info-card">
          <div class="card-content">
            <h2>Achieve Victory!</h2>
            <p>The battle concludes when one team is fully defeated. Strategize your moves, manage your resources, and combine your characters' strengths to emerge victorious!</p>
          </div>
          <div class="card-image">
            <img src="../../../../assets/images/howToPlay/Game Over.png" alt="Battle Over">
            <p class="image-caption">Victory is Yours!</p>
          </div>
        </section>
  
        <div class="exit-button-container">
          <button class="exit-button" routerLink="/">Exit How To Play</button>
        </div>
      </div>
    </div>
  </body>