<div class="create-password-container">
  <div class="create-password-background"></div>
  <div class="create-password-overlay"></div>
  <div class="create-password-form-wrapper">
    <div class="create-password-card">
      <h1 class="create-password-title">Password Reset</h1>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">

        <!-- <p>Enter the 6-digit code sent to your email</p> -->
        <app-input
          id="otp" type="text" 
          label="6-Digit Code" 
          [control]="otpControl" ></app-input>

          <app-input
          id="newPassword" type="password"
          label="New Password"
          [control]="newPasswordControl" ></app-input>

        <app-input
          id="confirmPassword" type="password"
          label="Confirm Password"
          [control]="confirmPasswordControl" ></app-input>

        <!-- Validation Message -->
        <div [hidden]="!(formData.invalid && formData.errors?.['passwordMismatch'] && (formData.touched || formData.dirty))" class="error-message">
          Passwords do not match.
        </div>

        <div [hidden]="!error" class="error-message">
          {{ error }}
        </div>

        <div [hidden]="!message" class="success-message">
          {{ message }}
        </div>

        <!-- Submit -->
        <button type="submit" class="create-password-button">Reset Password</button>
      </form>
    </div>
  </div>
</div>
