<div class="register-container">
  <div class="register-background"></div>
  <div class="register-overlay"></div>
  <div class="register-form-wrapper">
    <div class="register-card">
      <h1 class="register-title">Password Reset</h1>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">

        <p>Enter the 6-digit code sent to your email</p>
        <app-input
          id="otp" type="text" label="6-Digit Code" [control]="otpControl" ></app-input>

          <app-input
          id="newPassword" type="password"
          label="New Password"
          [control]="newPasswordControl" ></app-input>

        <app-input
          id="confirmPassword" type="password"
          label="Confirm Password"
          [control]="confirmPasswordControl" ></app-input>

        <!-- Validation Message -->
        <div *ngIf="formData.invalid && formData.errors?.['passwordMismatch']" class="error-message">
          Passwords do not match.
        </div>

        <div *ngIf="error" class="error-message">
          {{ error }}
        </div>

        <div *ngIf="message" class="success-message">
          {{ message }}
        </div>

        <!-- Submit -->
        <button type="submit" class="register-button">Reset Password</button>
      </form>
    </div>
  </div>
</div>
