

.themed-dialog-container {
  background-color: #5d3e2c;
  border-radius: 25px;
  border: 4px solid #ab6e44;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dialog-title {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 1.25rem;
  -webkit-text-stroke: 1px #000;
  font-weight: normal;
  letter-spacing: 1px;
  /* Remove gradient and transparent color */
  background-image: none;
  background-clip: unset;
  -webkit-background-clip: unset;
}

.winner-text {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  color: #f0e6d2;
  text-shadow: 1px 1px 2px black;
}

/* THE FIX: Add a style to make the winner's name pop */
.winner-name {
  font-weight: bold;
  color: #ffc400;
}

.exit-battle-btn {
  min-width: 250px;
  height: 60px;
  background: #57db2a;
  border: 4px solid #2c6c31;
  border-radius: 12px;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  -webkit-text-stroke: .5px #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.exit-battle-btn:hover {
  transform: scale(1.05);
}

[mat-dialog-actions] {
  padding: 0;
  margin-top: 10px;
  justify-content: center;
}
