/* src/styles.css or src/styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Gasoek One', sans-serif;
    font-weight: 100;
    height: 100%;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.battle-over-dialog-panel .mat-mdc-dialog-container .mdc-dialog__surface {
  /* Remove Material's default background and shadow */
  background: none !important;
  box-shadow: none !important;

  /* If you want a fully transparent container, you can use this instead: */
  /* background-color: transparent !important; */
}
