/* src/styles.css or src/styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Gasoek One', sans-serif;
    font-weight: 100;
    height: 100%;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


